@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

section {
  @apply min-h-screen lg:py-28 flex flex-col justify-center;
}

.intro-title {
  @apply lg:text-[10rem] leading-[10rem];
}

.c-cursor {
  border: 2px solid #4a5cff;
  background-color: transparent !important;
}

.typewritter:after {
  display: none;
}

.serif-font {
  font-size: 130%;
  line-height: inherit;
}
