@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  width: 8px;
  @apply bg-light;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  @apply bg-secondary;
}

/* General */
img,
svg {
  max-width: 100%;
  height: auto;
}

a:focus-visible,
button:focus-visible {
  outline: none;
  border: 2px solid;
}

button {
  text-align: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text ul li {
  display: flex;
}
.text ul li::before {
  @apply block shrink-0 w-3.5 md:w-5 mr-1 mt-1 md:mt-[0.3125rem] xl:mt-2.5 bg-no-repeat bg-contain;
  content: "";
  background-color: var(--color-secondary);
  -webkit-mask: url("/images/icons/arrow-right.svg") no-repeat center top;
  mask: url("/images/icons/arrow-right.svg") no-repeat center top;
}
.text a {
  @apply hover:text-secondary transition duration-500;
}

/* Sections */
.full-h-section {
  @apply min-h-screen flex flex-col justify-center;
}
.section {
  @apply py-14 lg:py-20;
}

/* Typography */
.intro-title {
  @apply text-[3rem] md:text-[5rem] lg:text-[8rem] xl:text-[10rem] leading-[1.3];
}
.sub {
  @apply text-[1.5rem] md:text-[2rem] lg:text-[3.5rem] xl:text-[5.5rem] leading-[1.3];
}
.small-title {
  @apply text-[1.5rem] md:text-[3rem] lg:text-[2.5rem] xl:text-[3.5rem] leading-[1];
}
.text {
  @apply text-[1rem] md:text-[1.2rem] xl:text-[1.5rem] leading-relaxed;
}
.note {
  @apply text-[0.625rem] md:text-[0.75rem];
}
.text p {
  @apply mb-5 lg:mb-8;
}
.text em {
  font-style: normal;
  position: relative;

  &:before {
    display: block;
    width: 103%;
    height: 25%;
    content: "";
    background-color: var(--color-accent);
    position: absolute;
    bottom: 7%;
    left: -2%;
    z-index: -1;
  }
}

.gradient-border-title {
  background: linear-gradient(
    90deg,
    var(--color-accent),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.1875rem transparent;
}

.animate-sparkle-1 {
  -webkit-animation: sparkle 5s infinite ease-in-out;
  animation: sparkle 5s infinite ease-in-out;
}
.animate-sparkle-2 {
  -webkit-animation: sparkle 5s 0.2s infinite ease-in-out;
  animation: sparkle 5s 0.2s infinite ease-in-out;
}
.animate-sparkle-3 {
  -webkit-animation: sparkle 5s 0.5s infinite ease-in-out;
  animation: sparkle 5s 0.5s infinite ease-in-out;
}

/* cursor */
.mf-cursor:before {
  background-color: transparent;
  @apply border-2 border-secondary scale-100;
}
.mf-cursor.-pointer:before {
  @apply opacity-50 scale-0;
}
.mf-cursor.-text:before,
.mf-cursor.-text.-active:before {
  transform: scale(2.1);
  @apply opacity-100 bg-secondary;
}
.mf-cursor.-hidden:before {
  @apply opacity-50 scale-0;
}

.mf-cursor-text {
  @apply text-white p-2;
}
*[data-cursor-img],
*[data-cursor-text] {
  cursor: none !important;
}

.splide__slide {
  @apply w-44 md:w-56 lg:w-80 px-2 md:px-10 lg:px-20;
}

@-webkit-keyframes sparkle {
  0%,
  90%,
  100% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.2);
  }
}

@keyframes sparkle {
  0%,
  90%,
  100% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.2);
  }
}
