@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

section {
  @apply min-h-screen lg:py-28 flex flex-col justify-center;
}

.intro-title {
  @apply lg:text-[10rem] leading-[10rem];
}
.sub {
  @apply lg:text-[5.5rem] leading-[5.5rem];
}

.serif-font {
  font-size: 130%;
  line-height: 65%;
}
.accent-color {
  color: #4a5cff;
}

.c-cursor {
  mix-blend-mode: unset !important;
  background-color: transparent !important;
  border: 2px solid #4a5cff;
}

.c-cursor__inner {
  -webkit-filter: none !important;
  filter: none !important;
}
